<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR!</title>
</head>
<body>
    <div class="container">
        <h1>Sorry, we have got lost</h1>
        <h1>...</h1>
        <h2>Please go back to the <span class="hp-link"><a href="/">home page</a></span>.</h2>
    </div>
</body>
</html>