<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet" type="text/css" />
    <title>Notes</title>
</head>
<body>
    <div class="container notes-container">
        <h1><%= title %></h1>
        <br>
    
        <br>
        <div class="notes-list">
            <ul>
                <% for(let i=0; i<notes.length; i++){ %>
                    <li>
                        <%= notes[i].guest %><span> says: </span> <%= notes[i].note %>      
                    </li>     
                <% } %>
            </ul>
        </div>
        <br/>
        <a href="/">Back to home page</a>
    </div>
</body>
</html>